:root {
    --primary: #13ec5b;
    --primary-hover: #0fb847;
    --error: #ef4444;

    --background: #102216;
    --surface: #16291d;
    --surface-lighter: #28392e;
    --card: #1c2e24;
    --text-main: #ffffff;
    --text-secondary: #9db9a6;
    --border: rgba(255, 255, 255, 0.1);
}

.light {
    --background: #f0fdf4;
    --surface: #ffffff;
    --surface-lighter: #dcfce7;
    --card: #ffffff;
    --text-main: #102216;
    --text-secondary: #3b5a45;
    --border: rgba(16, 34, 22, 0.1);
}

.dark {
    --background: #102216;
    --surface: #16291d;
    --surface-lighter: #28392e;
    --card: #1c2e24;
    --text-main: #ffffff;
    --text-secondary: #9db9a6;
    --border: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--background);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
}

/* Scrollbar adaptation */
.dark ::-webkit-scrollbar-track {
    background: #102216;
}

.dark ::-webkit-scrollbar-thumb {
    background: #28392e;
}

.light ::-webkit-scrollbar-track {
    background: #f0fdf4;
}

.light ::-webkit-scrollbar-thumb {
    background: #d1fae5;
}